# self_sign.conf
[ req ]
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
# Minimum of 4 bytes are needed for common name
commonName         = 10.0.2.15
commonName_default = 10.0.2.15
commonName_max     = 64

# ISO2 country code only
countryName         = China
countryName_default = CN

# State is optional, no minimum limit
stateOrProvinceName         = Province
stateOrProvinceName_default = Shanghai

# City is required
localityName         = City
localityName_default = Shanghai

# Organization is optional
organizationName         = Organization
organizationName_default = 10.0.2.15

# Organization Unit is optional
organizationalUnitName         = Department
organizationalUnitName_default = 10.0.2.15

# Email is optional
emailAddress         = Email
emailAddress_default = hongchen@gmail.com

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.0.2.15
IP.2 = 127.0.0.1
DNS.1 = localhost
